@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
div, p, span, a,
input, textarea, button {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

.btn {
  display: flex;
  justify-content: center;
  border-radius: 100vw;
  padding: 1rem 1.5rem;
  border: 0;
  outline: 0;
  background-color: white;
}

body {
  min-height: 100vh;
  background-color: #3A3B3C;
}

.container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.container #logo {
  margin-block: 3rem 2rem;
}
.container #logo img {
  filter: invert(0);
  transition: all 250ms ease-in-out;
}
.container #logo img:hover {
  filter: invert(0.75);
}
.container .field-group {
  width: 70%;
  max-width: 20rem;
  position: relative;
}
.container .field-group label,
.container .field-group .tooltip-icon,
.container .field-group .tooltip {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1rem;
  color: #14a5e4;
}
.container .field-group .tooltip-icon,
.container .field-group .tooltip {
  cursor: pointer;
  left: auto;
  right: 1rem;
  color: #7F7F80;
}
.container .field-group .tooltip {
  top: 2.5rem;
  background-color: #7F7F80;
  color: white;
  pointer-events: none;
  padding: 1rem;
  border-radius: 0.25rem;
  opacity: 0;
  z-index: 999;
  transition: all 250ms ease-in-out;
}
.container .field-group .tooltip-icon:hover + .tooltip {
  opacity: 1;
}
.container .field-group input {
  border: none;
  outline: none;
  border-radius: 100vw;
  width: 100%;
  height: 3rem;
  padding-inline: 3rem 1rem;
  color: #7F7F80;
}
.container .field-group input#fldPassword {
  padding-right: 3rem;
}
.container .btn {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  width: 100%;
  max-width: 15rem;
  background-color: #7F7F80;
  color: white;
  box-shadow: inset 0 0 0 0 #47a5e4;
  color: white;
  transition: color 250ms ease-in-out, box-shadow 250ms ease-in-out;
}
.container .btn#btnLogin {
  margin-top: 1rem;
}
.container .btn:hover {
  box-shadow: inset 15rem 0 0 0 #47a5e4;
  color: white;
}
.container span {
  color: #7F7F80;
  margin-block: 0.5rem;
}
.container .social-sign-up {
  display: flex;
  gap: 2rem;
}
.container .social-sign-up .social-icon i {
  color: #7F7F80;
  font-size: 2rem;
  transition: all 250ms ease-in-out;
}
.container .social-sign-up .social-icon:hover i {
  color: #47a5e4;
}
.container .help {
  margin-block: auto;
  color: #7F7F80;
  text-decoration: underline;
  flex: 0 0 max-content;
  transition: all 250ms ease-in-out;
}
.container .help:hover {
  color: #47a5e4;
}/*# sourceMappingURL=style.css.map */